@model InnosixWebApp.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<div class="user-manage-forms">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <section class="user-manage-form">

                <h2>@ViewBag.Title.</h2>

                @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    <h4>Send verification code</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            Select Two-Factor Authentication Provider:
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
