
@{
    ViewBag.Title = "Taxonomies";
}
<section class="taxonomy-menu">
    <h2>Taxonomies</h2>

    <ul>
        <li>@Html.ActionLink("Country", "TaxonomyCountry", "Taxonomies")</li>
        <li>@Html.ActionLink("Business model", "TaxonomyBusinessModel", "Taxonomies")</li>
        <li>@Html.ActionLink("Cluster", "TaxonomyCluster", "Taxonomies")</li>
        <li>@Html.ActionLink("Employees", "TaxonomyEmployees", "Taxonomies")</li>
        <li>@Html.ActionLink("Maturity", "TaxonomyMaturity", "Taxonomies")</li>
        <li>@Html.ActionLink("Nace", "TaxonomyNace", "Taxonomies")</li>
        <li>@Html.ActionLink("Revenue", "TaxonomyRevenue", "Taxonomies")</li>
        <li>@Html.ActionLink("Services", "TaxonomyServices", "Taxonomies")</li>
        <li>@Html.ActionLink("Tech domain", "TaxonomyTechDomain", "Taxonomies")</li>
        <li>@Html.ActionLink("Tech sector", "TaxonomyTechSector", "Taxonomies")</li>
    </ul>
</section>
